.logo img{
    height: 45% ;
    /* display: block; */
    /* width: 100%; */
    margin: auto;
}

.logo_subscript{
  margin: auto;
  text-align: center;
  font-size: 12pt;
  line-height:0;
  font-weight: 400;
}

.marker-custom-small {
  background-color: grey;
  background-color: rgba(72, 219, 251,0.5);
}
.marker-customr-small div {
  background-color: grey;
  background-color: rgba(72, 219, 251,1);
}
.marker-custom-medium {
  background-color: grey;
  background-color: rgba(0, 168, 255, 0.5);
}
.marker-custom-medium div {
  background-color: grey;
  background-color: rgba(0, 168, 255, 1.0);
}

.marker-custom-large {
  background-color: grey;
  background-color: rgba(0, 151, 230,0.5);
}
.marker-custom-large div {
  background-color: grey;
  background-color: rgba(0, 151, 230,1.0);
}