.logo img{
    height: 45% ;
    /* display: block; */
    /* width: 100%; */
    margin: auto;
}

.logo_subscript{
  margin: auto;
  text-align: center;
  font-size: 12pt;
  line-height:0;
  font-weight: 400;
}


.content {
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}